@font-face {
	font-family: 'Comfortaa Vexlink';
	font-weight: 600;
	src: url(vex.ttf);
}
.wordmark {
	font-family: 'Comfortaa Vexlink', 'Comfortaa', sans-serif;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	max-width: 512px;
	margin: 32px auto 32px auto;
}

header {
	text-align: center;
}
header h1 {
	font-weight: 600;
	font-size: 600%;
	margin: 0;
	margin-bottom: -16px;
}
header p.subtitle {
	font-size: 160%;
	margin: 0;
}

